@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Avenir Arabic;
  src: url("fonts/avenir-arabic-book.otf") format("opentype");
}

@layer components {
  .tab button.active {
    @apply text-[#00ADEE] before:absolute before:bottom-[-5px] before:right-0 before:h-[5.67px] before:w-full before:rounded-tl-md before:rounded-tr-md before:border-t before:bg-[#00ADEE];
  }
  .item li a.active {
    @apply text-[#00ADEE];
  }
}

@media (min-width: 280px) and (max-width: 455px) and (min-height: 653px) {
  .header.m-auto {
    display: contents;
  }
}

@media (min-width: 280px) and (max-width: 492px) {
  .inside-img.w-full.max-md\:p-\[1\.5rem\].md\:mx-8.md\:my-16.lg\:mx-20.lg\:my-28 {
    padding: 0.5rem;
  }
  h1.mb-3.w-64.text-4xl.leading-\[3\.5rem\].max-sm\:w-40.max-sm\:text-xl {
    font-size: 1rem;
    line-height: 1.3rem;
    width: 6rem;
    margin-bottom: 0.3rem;
  }
  p.max-xs\:mb-0.mb-6.w-\[15rem\].text-2xl.text-\[\#7D7E82\].max-sm\:w-44.max-sm\:text-sm {
    font-size: 0.6rem;
    line-height: 0.8rem;
    width: 7rem;
    margin-bottom: 0.5rem;
  }
  button.h-12.w-\[150px\].rounded-full.border.bg-white.p-2.text-xl.max-sm\:w-36.max-sm\:text-sm {
    width: 7rem;
    height: 2rem;
    padding: 0;
  }
}
